[Unit]
Description=WebRadio Web Interface
After=network.target

[Service]
User=dip16
Group=dip16
WorkingDirectory=/home/dip16/apps/webradio
ExecStart=/usr/bin/node server.js
Restart=always

[Install]
WantedBy=multi-user.target
