[Unit]
Description=WebRadio Web Interface
After=network.target

[Service]
User=user
Group=user
WorkingDirectory=/home/user/apps/webradio
ExecStart=/usr/bin/node server.js
Restart=always

[Install]
WantedBy=multi-user.target
