package com.dip16.webradio

/**
 * This is an example secrets file.
 * Copy this file to Secrets.kt and fill in your actual credentials.
 * The Secrets.kt file should be added to .gitignore.
 */
object Secrets {
    const val MQTT_BROKER_URL = "tcp://YOUR_MQTT_BROKER_IP_OR_HOSTNAME:1883"
    const val MQTT_LOGIN = "YOUR_MQTT_LOGIN"
    const val MQTT_PASSWORD = "YOUR_MQTT_PASSWORD"
}